
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow,
.carousel .carousel-status {
  opacity: 0;
}

.background {
  position: relative;
}
.background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.backdrop {
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.backdrop:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.trailer {
  position: relavite;
  width: 400px;
}

.pagination__break {
  margin: 0 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination__link {
  display: block;

  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
}

.pagination__link--active {
  background-color: #3d045a;

  color: #fff;
  border-color: #3d045a;
}

.card-background {
  position: relative;
}

.card-background:before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.card-background:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* .btn-card:hover > .btn-card {
  border-radius: 500px;
  color: aliceblue;
} */

.btn-card {
  visibility: hidden;
}

.card-background:hover .btn-card {
  position: absolute;
  visibility: visible;
  color: #ffffff;
}
